<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <appSettings>
      <add key="Mode" value="ADO"></add>
    </appSettings>
    <clear/>
    <add name="DVDLibrary"
         connectionString="Server=localhost;Database=DVDCatalog;User Id=ADOUser-Pedro;Password=Kingmjoker1;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>